<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.matchimi"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="17" />

    <permission
        android:name="com.matchimi.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <uses-permission android:name="com.matchimi.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- permission required to use Alarm Manager
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" /> -->

    <uses-feature android:name="android.hardware.camera.autofocus" />

    <!-- GCM requires a Google account. -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <!-- Keeps the processor from sleeping when a message is received. -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!--
     Creates a custom permission so only this app can receive its messages.

     NOTE: the permission *must* be called PACKAGE.permission.C2D_MESSAGE,
           where PACKAGE is the application's package name.    -->
    <permission
        android:name="com.matchimi.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.matchimi.permission.C2D_MESSAGE" />

    <!-- This app has permission to register and receive data message. -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    
    <application
        android:allowBackup="true"
        android:name="ApplicationGlobal"
        android:icon="@drawable/icons"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/Theme.Sherlock.Light" >
        
        <uses-library android:name="com.google.android.maps" />

        <activity
            android:name="com.matchimi.HomeActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustResize|stateHidden" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.matchimi.options.JobDetails"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/details"
            android:windowSoftInputMode="adjustResize|stateHidden" >
        </activity>
        <activity
            android:name="com.matchimi.options.RequirementsDetail"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/requirements"
            android:windowSoftInputMode="adjustResize|stateHidden" >
        </activity>
        <activity
            android:name="com.matchimi.options.RejectPreview"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/reject_offer"
            android:windowSoftInputMode="adjustResize|stateHidden" >
        </activity>
        <activity
            android:name="com.matchimi.options.CancelPreview"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/cancel_availability"
            android:windowSoftInputMode="adjustResize|stateHidden" >
        </activity>
        <activity
            android:name="com.matchimi.options.HistoryDetail"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/menu_history" >
        </activity>
        <activity
            android:name="com.matchimi.options.AvailabilityActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/menu_availability"
            android:windowSoftInputMode="adjustResize|stateHidden" >
        </activity>
        <activity
            android:name="com.matchimi.options.AvailabilityPreview"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/availability_detail"
            android:windowSoftInputMode="adjustResize|stateHidden" >
        </activity>
        <activity
            android:name="com.matchimi.options.CreateAvailability"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/add_availability"
            android:windowSoftInputMode="adjustResize|stateHidden" >
        </activity>
        <activity
            android:name="com.matchimi.options.MapsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/location_preference"
            android:windowSoftInputMode="adjustResize|stateHidden" >
        </activity>
        <activity
            android:name="com.matchimi.registration.RegistrationActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustResize|stateHidden" >
        </activity>
        <activity
            android:name="com.matchimi.registration.ProfileRegistrationActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustResize|stateHidden" >
        </activity>
        <activity
            android:name="com.matchimi.registration.LoginActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/login"
            android:windowSoftInputMode="adjustResize|stateHidden" >
        </activity>
        <activity
            android:name="com.matchimi.options.FriendsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/menu_friends"
            android:windowSoftInputMode="adjustResize|stateHidden" >
        </activity>
        <activity
            android:name="com.facebook.LoginActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.matchimi.options.BlockedCompaniesActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/profile_blocked_companies" >
        </activity>
        <activity
            android:name="com.matchimi.registration.EditProfile"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/edit_profile"
            android:windowSoftInputMode="adjustResize|stateHidden" >
        </activity>
        <activity
            android:name="com.matchimi.availability.HomeAvailabilityActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/menu_availability"
            android:windowSoftInputMode="adjustResize|stateHidden" >
        </activity>
        <activity
            android:name="com.matchimi.availability.BulkAvailabilityActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/menu_availability"
            android:windowSoftInputMode="adjustResize|stateHidden" >
        </activity>
        <activity
            android:name="com.matchimi.availability.LocationPreferenceActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/location_preference"
            android:windowSoftInputMode="adjustResize|stateHidden" >
        </activity>
        <activity
            android:name="com.matchimi.availability.ListAvailabilityActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/menu_availability"
            android:windowSoftInputMode="adjustResize|stateHidden" >
        </activity>
        <activity
            android:name="com.matchimi.availability.DailyAvailabilityPreview"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/menu_availability"
            android:windowSoftInputMode="adjustResize|stateHidden" >
        </activity>
        <activity
            android:name="com.matchimi.options.ScheduleDetailsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/menu_availability"
            android:windowSoftInputMode="adjustResize|stateHidden" >
        </activity>
        <activity
            android:name="com.matchimi.availability.RepeatAvailabilityActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/menu_availability"
            android:windowSoftInputMode="adjustResize|stateHidden" >
        </activity>
        <activity
            android:name="com.matchimi.NotificationActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/notifications"
            android:windowSoftInputMode="adjustResize|stateHidden" >
        </activity>
		<activity
            android:name="com.matchimi.profile.FeedbacksActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/profile_feedback"
            android:windowSoftInputMode="adjustResize|stateHidden" >
        </activity>
        <activity
            android:name="com.matchimi.profile.PreferredJobsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/preferred_jobs"
            android:windowSoftInputMode="adjustResize|stateHidden" >
        </activity>
        
        <activity android:name="com.matchimi.guideline.GuidelineMain"
            android:label="@string/guideline"
            android:theme="@style/StyledIndicators" 
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="adjustResize|stateHidden">          
        </activity>
        <activity android:name="com.matchimi.guideline.AddFragment"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="adjustResize|stateHidden">            
        </activity>
        <activity android:name="com.matchimi.guideline.CalendarFragment"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="adjustResize|stateHidden">
        </activity>
        <activity android:name="com.matchimi.guideline.JobFragment"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="adjustResize|stateHidden">
        </activity>
        <activity android:name="com.matchimi.guideline.ProfileFragment"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="adjustResize|stateHidden">
        </activity>
        
        <!--
          BroadcastReceiver that will receive intents from GCM
          services and handle them to the custom IntentService.

          The com.google.android.c2dm.permission.SEND permission is necessary
          so only GCM services can send data messages for the app.
        -->
        <receiver
            android:name="com.google.android.gcm.GCMBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>

                <!-- Receives the actual messages. -->
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <!-- Receives the registration id. -->
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.matchimi" />
            </intent-filter>
        </receiver>
        
       <!-- Register the Alarm Receiver -->
       <!--  <receiver android:name="com.matchimi.MatchimiAlarmReceiver"/>  -->

        <!--
          Application-specific subclass of GCMBaseIntentService that will
          handle received messages.

          By default, it must be named .GCMIntentService, unless the
          application uses a custom BroadcastReceiver that redefines its name.
        -->
        <service android:name=".GCMIntentService" />

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyAK2bBQsPTrcZFyVCl13lh7-2DtSearJDs" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.matchimi.SettingsActivity"
            android:label="@string/settings_title" >
        </activity>
    </application>

</manifest>